In [1]:
import sweetviz

In [4]:
import pandas as pd
data = pd.read_csv('train (4).csv')

In [6]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
report = sweetviz.analyze([data,'train'],target_feat = 'SalePrice')      #it will take a while

:TARGET::                          |▎                    | [  1%]   00:00  -> (00:02 left)findfont: Font family ['Roboto'] not found. Falling back to DejaVu Sans.
:FEATURES DONE:                    |█████████████████████| [100%]   00:25  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:04  -> (00:00 left)

Creating Associations graph... DONE!

In [9]:
report.show_html('myreport.html')

In [12]:
data2 = pd.read_csv('train (1).csv')

In [13]:
data2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
report2 = sweetviz.analyze([data2,'train'],target_feat = 'Survived')

                                   |                         | [  0%]   00:00  -> (? left)
Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)
:TARGET::                          |█▌                   | [  8%]   00:00  -> (00:00 left)
:TARGET::                          |███▏                 | [ 15%]   00:00  -> (00:00 left)
:PassengerId:                      |███▏                 | [ 15%]   00:00  -> (00:00 left)
:PassengerId:                      |████▊                | [ 23%]   00:00  -> (00:01 left)
:Pclass:                           |████▊                | [ 23%]   00:00  -> (00:01 left)
:Pclass:                           |██████▍              | [ 31%]   00:00  -> (00:01 left)
:Name:                             |██████▍              | [ 31%]   00:00  -> (00:01 left)
:Sex:                              |████████             | [ 38%]   00:00  -> (00:01 left)
:Sex:                              |█████████▋           | [ 46%]   00:00  -> (00:00 left)
:Age:                              |█████████▋           | [ 46%]   00:00  -> (00:00 left)
:Age:                              |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |████████████▉        | [ 62%]   00:01  -> (00:00 left)
:Parch:                            |████████████▉        | [ 62%]   00:01  -> (00:00 left)
:Parch:                            |██████████████▌      | [ 69%]   00:01  -> (00:00 left)
:Ticket:                           |██████████████▌      | [ 69%]   00:01  -> (00:00 left)
:Fare:                             |████████████████▏    | [ 77%]   00:01  -> (00:00 left)
:Fare:                             |█████████████████▊   | [ 85%]   00:01  -> (00:00 left)
:Cabin:                            |█████████████████▊   | [ 85%]   00:01  -> (00:00 left)
:Embarked:                         |███████████████████▍ | [ 92%]   00:01  -> (00:00 left)
:Embarked:                         |█████████████████████| [100%]   00:02  -> (00:00 left)
:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

                                   |                         | [  0%]   00:00  -> (? left)
:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [16]:
report2.show_html('myreport2.html')

In [17]:
#we can also compare with other data frames with similar features like train and test

In [21]:
test = pd.read_csv('test (1).csv')

In [22]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [25]:
comp_report = sweetviz.compare([data2,'Train'],[test,'Test'],target_feat = 'Survived')

                                   |                         | [  0%]   00:00  -> (? left)
Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)
:TARGET::                          |█▌                   | [  8%]   00:00  -> (00:00 left)
:TARGET::                          |███▏                 | [ 15%]   00:00  -> (00:00 left)
:PassengerId:                      |███▏                 | [ 15%]   00:00  -> (00:00 left)
:PassengerId:                      |████▊                | [ 23%]   00:00  -> (00:01 left)
:Pclass:                           |████▊                | [ 23%]   00:00  -> (00:01 left)
:Pclass:                           |██████▍              | [ 31%]   00:00  -> (00:01 left)
:Name:                             |██████▍              | [ 31%]   00:00  -> (00:01 left)
:Sex:                              |████████             | [ 38%]   00:00  -> (00:01 left)
:Sex:                              |█████████▋           | [ 46%]   00:00  -> (00:00 left)
:Age:                              |█████████▋           | [ 46%]   00:00  -> (00:00 left)
:Age:                              |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |███████████▎         | [ 54%]   00:01  -> (00:01 left)
:SibSp:                            |████████████▉        | [ 62%]   00:01  -> (00:01 left)
:Parch:                            |████████████▉        | [ 62%]   00:01  -> (00:01 left)
:Parch:                            |██████████████▌      | [ 69%]   00:01  -> (00:00 left)
:Ticket:                           |██████████████▌      | [ 69%]   00:01  -> (00:00 left)
:Fare:                             |████████████████▏    | [ 77%]   00:01  -> (00:00 left)
:Fare:                             |█████████████████▊   | [ 85%]   00:02  -> (00:00 left)
:Cabin:                            |█████████████████▊   | [ 85%]   00:02  -> (00:00 left)
:Embarked:                         |███████████████████▍ | [ 92%]   00:02  -> (00:00 left)
:Embarked:                         |█████████████████████| [100%]   00:02  -> (00:00 left)
:FEATURES DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

                                   |                         | [  0%]   00:00  -> (? left)
:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [26]:
comp_report.show_html('my_report3.html')